FrontEnd-Tin/FrontEnd/.vs/
FrontEnd-Tin/FrontEnd/bin/
FrontEnd-Tin/FrontEnd/obj/
FrontEnd-Tin/FrontEnd.API/.vs/
FrontEnd-Tin/FrontEnd.API/bin/
FrontEnd-Tin/FrontEnd.API/obj/
Backend/Solution/.vs/
Backend/Solution/Solution.API/bin/
Backend/Solution/Solution.API/obj/
Backend/Solution/Solution.API.W/bin/
Backend/Solution/Solution.API.W/obj/
